@model Sire.Data.Dto.Operator.OperatorDto
@{
    ViewBag.Title = "Operator";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="row fix-head">
        <div class="col-md-12">
            <div class="card m-b-0">
                <div class="card-body head-tit">
                    <div class="col-sm-5">
                        <h5 class="head-tit-fnt">Add Operator </h5>
                    </div>
                    <div class="col-sm-7 pt-2">
                       </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navigation Fixed Bar-->
    

<div class="tab-pane fade show active" id="User" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- End Navigation Fixed Bar-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Raw(@ViewBag.Alert)
                        </div>
                    </div>
                </div>
                <form asp-action="AddEdit">
                    <hr>
                    @if (@ViewBag.IsEdit)
                    {
                        <input type="hidden" asp-for="Id" />
                    }
                    <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Name">Name</label>
                    </div>
                    <div class="col-sm-3 pr-4 h-40">
                        <input type="text" asp-for="Name" class="form-control inp required" />
                     <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                      <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Imo_Number">IMO Number</label>
                    </div>
                    <div class="col-sm-3 pr-4 h-40">
                        <input type="text" asp-for="Imo_Number" class="form-control inp" />
                        <span asp-validation-for="Imo_Number" class="text-danger"></span>
                    </div>
                     <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Vessel_Count">Vessel Count</label>
                    </div>
                    <div class="col-sm-3 pr-4 h-40">
                        <input type="text" asp-for="Vessel_Count" class="form-control inp" />
                        <span asp-validation-for="Vessel_Count" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1 pr-0 h-40">
                        <label class="fnt-lable" for="Description">Description</label>
                    </div>
                    <div class="col-sm-3 pr-4 h-40">
                        <input type="text" asp-for="Description" class="form-control inp required" />
                      <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-7 pt-2">



                        <button type="submit" class="btn btn-primary" id="btnSubmitOpt">Submit</button>
                        <a class="n-btn btn-danger" asp-action="Index">Back</a>
                        <input type="reset" name="Clear" value="Clear" class="n-btn btn-warning" />
                    </div>
                    <div class="col-sm-7 pt-2">
   
     
                        </div>
                </form>
            </div>

        </div>
    </div>

</div>
<script src="~/js/pagescript/common.js"></script>


