<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" forwardWindowsAuthToken="true" stdoutLogEnabled="false" startupTimeLimit="3600" requestTimeout="23:00:00" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.203\DotnetTools\dotnet-watch\6.0.203-servicing.22221.10\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:53679/Sire.Api/,ws://localhost:53680/Sire.Api/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwM7F9327oLqEjLI4Fzgs3H5gB96+2mNUeZlvl+WP5ggfIS6yrqsne4ng+fewJSlqDmC5IYnuSuap5dEHl0ntGBbEjq+zWZuLItvmeUMjrySPyU7Fhcq5uYjFB+0z3qmf/V3KvklwZoF19l7Tu3/AAErgR4occV/jDD2+kxEazPB7G5VNHXk2+08jc11kcqZbR+tlB3RxhJuNDqwC9lh0Z7neQtYO7kcjFzxXt97HnR3XOiuO5vmnQRrpjJn2pnbf9fExSrxP7Hcg4Da537mpRnNEjXuKBvCBYoFQs1ke5L453gq4qoo8RHSzwIUKQ8I6EYNtUAdSkXi2iTx8E4Ez+QIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>