@model IEnumerable<Sire.Data.Dto.Master.QuetionSectionDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    int n = 1;
}

<script src="~/assets/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="~/js/pagescript/training.js"></script>
<form asp-action="Index" asp-controller="Training">

    <div class="row fix-head">
        <div class="col-md-12">
            <div class="card m-b-0">
                <div class="card-body head-tit">
                    <div class="col-sm-5">
                        <h5 class="head-tit-fnt">Training Question</h5>
                    </div>

                    <div class="col-sm-7 pt-2">
                        <button type="submit" class="btn btn-primary float-right">Start Training</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<br />


<div class="col-md-12 mt-2">
    <div class="card m-b-0">
        <br/>
        <br/>
        <div class="card-header sub-head-tit">
            <ul class="nav nav-pills nav-fill mt-3 border-bottom pb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#QueLibrary" role="tab" aria-controls="pills-home" aria-selected="true" onfocus="GetQuestion()">Question Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#ApplicableQue" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="GetApplicableQuestions()">Applicable Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#RankBaseQue" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="GetRenkBaseQuestion()">Rank Base Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#CIVQ" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="GetCIVQquestion()">Predicated CIVQ</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#TagQuestion" role="tab" aria-controls="pills-contact" aria-selected="false" onclick="GetTagQuestion()">Tagged Questions</a>
                </li>

            </ul>
        </div>
        <div class="card-body p-0  pb-5" id="card5_b">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="QueLibrary" role="tabpanel" aria-labelledby="pills-home-tab">
                </div>
                <div class="tab-pane fade" id="ApplicableQue" role="tabpanel" aria-labelledby="pills-home-tab">
                </div>
                <div class="tab-pane fade" id="RankBaseQue" role="tabpanel" aria-labelledby="pills-home-tab">
                </div>
                <div class="tab-pane fade" id="CIVQ" role="tabpanel" aria-labelledby="pills-home-tab">
                </div>
                <div class="tab-pane fade" id="TagQuestion" role="tabpanel" aria-labelledby="pills-home-tab">
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/assets/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="~/js/pagescript/trainingquestion.js"></script>
