@using Sire.Data.Dto.UserMgt

@model Sire.Data.Dto.UserMgt.RoleDto
@{
    ViewBag.Title = "Fleet";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
 

<div class="tab-pane fade show active" id="User" role="tabpanel" aria-labelledby="pills-home-tab">
    
    <!-- End Navigation Fixed Bar-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="head-tit-fnt">Add Role</h5>
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Raw(@ViewBag.Alert)
                    </div>
                </div>
            </div>
                <form asp-action="AddEdit">
                    <hr>
                    @if (@ViewBag.IsEdit)
                    {
                        <input type="hidden" asp-for="Id" />
                    }
                    <div class="col-sm-2 pr-0 h-40">
                        <label class="fnt-lable" for="Description">Description</label>
                    </div>
                    <div class="col-sm-2 pr-4 h-40">
                        <input type="text" asp-for="Description"  class="form-control inp" />
                  <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    
                    <div class="col-sm-2 pr-0 h-40">
                        <label class="fnt-lable" for="RoleType">RoleType</label>
                    </div>
                    <div class="col-sm-3 pr-4 h-40">
                       @* <input type="text" asp-for="RoleType" class="form-control inp" />
                        <span asp-validation-for="RoleType" class="text-danger"></span>*@
                            <select asp-for="RoleType" asp-items="Html.GetEnumSelectList<Role_Types>()" class= "form-control select2">
    <option selected="selected" value="">Select</option>
</select>
                       
                    </div>
                    <div class="col-sm-7 pt-2">
                        <button type="submit" class="n-btn btn-primary " id="btnSubmitOpt">Submit</button>
                      <a class="n-btn btn-danger" asp-action="Index">Back</a>
                       
                      <input type="reset" name="Clear" value="Clear" class="n-btn btn-warning" />
                    </div>
                  
                </form>
            </div>

        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

